v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.my-3( height="100%" elevation="12" )
    v-card-title 課程學生列表
    v-select.ma-3( label="選擇課程" outlined hide-details :items="courses" item-text="name" item-value="name" v-model="course" )
    v-container( fluid )
      v-row( no-gutters )
        v-btn( color="info" @click="newCourseDialog = true" )
          v-icon mdi-plus
          | 新增課程
        v-spacer
        v-btn.ml-3( color="primary" @click="newStudentDialog = true" :disabled="course == ''" )
          v-icon mdi-file-excel-outline
          | 表單新增學生
        v-btn.ml-3( color="primary" :disabled="course == ''" )
          v-icon mdi-download
          | 下載統計
    v-divider.mt-0
    v-simple-table.px-4
      thead
        tr
          th.font-weight-bold.subtitle-1.text--primary 使用者名稱
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 暱稱
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 發文
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 留言
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 回覆
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 給予愛心
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 獲得愛心
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 執行成功
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 執行失敗
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 已批改
          th.font-weight-bold.subtitle-1.text--primary 管理
      tbody
        tr( v-for="(data, idx) in studentData" :key="data.username" )
          td.subtitle-1 {{ data.info.username }}
          td.subtitle-1.hidden-sm-and-down {{ data.info.displayName }}
          td.subtitle-1.hidden-sm-and-down {{ data.problems.length }}
          td.subtitle-1.hidden-sm-and-down {{ data.comments.length }}
          td.subtitle-1.hidden-sm-and-down {{ data.replies.length }}
          td.subtitle-1.hidden-sm-and-down {{ data.likes.length }}
          td.subtitle-1.hidden-sm-and-down {{ data.liked.length }}
          td.subtitle-1.hidden-sm-and-down {{ data.success }}
          td.subtitle-1.hidden-sm-and-down {{ data.fail }}
          td.subtitle-1.hidden-sm-and-down {{ data.passed }}
          td.subtitle-1
            v-tooltip( right color="#000000E6" )
              template( v-slot:activator="{ on }" )
                v-btn( color="info" v-on="on" small :href="`/stat/${data.username}`" rel="noopener noreferrer" target="_blank" )
                  v-icon mdi-table-large
              span 顯示詳細資訊
            v-tooltip( right color="#000000E6" )
              template( v-slot:activator="{ on }" )
                v-btn.ml-3( color="error" v-on="on" small @click="deleteStudentDialog = true; deleteStudentName = data.username" )
                  v-icon mdi-trash-can
              span 將學生從課程移出
        tr( v-if="course === ''" )
          td( colspan="11" ) 請先選擇課程      
        tr( v-else-if="studentData.length === 0" )
          td( colspan="11" ) No data available.
  v-dialog( v-model="newCourseDialog" :width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" )
    v-card
      v-card-title.headline 新增課程
      v-card-text
        v-text-field( v-model="newCourseName" label="輸入課程名稱" )
        p.text--primary 注意！課程名稱只能使用：A-Z、a-z、0-9、空白、底線、減號、點
      v-card-actions
        v-spacer
        v-btn.mr-3( color="danger" @click="newCourseDialog = false" dark text ) 取消
        v-btn( color="primary" @click="newCourseDialog = false; createCourse(newCourseName)" :disabled="newCourseName == ''" ) 確認
  v-dialog( v-model="newStudentDialog" :width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" )
    v-card
      v-card-title.headline 上傳表單新增學生
      v-card-text
        v-file-input( v-model="newStudentFile" label="upload csv, xls file" )
      v-card-actions
        v-spacer
        v-btn.mr-3( color="danger" @click="newStudentDialog = false" dark ) 取消
        v-btn( color="primary" @click="newStudentDialog = false; createStudent(newStudentFile)" ) 確認
  v-dialog( v-model="deleteStudentDialog" :width="$vuetify.breakpoint.mdAndUp ? '30vw' : '55vw'" )
    v-card
      v-card-title.headline 真的要刪除嗎？
      v-card-title 此操作將無法復原。
      v-card-actions
        v-spacer
        v-btn.mr-3( color="primary" @click="deleteStudentDialog = false" dark ) 取消
        v-btn( color="error" @click="deleteStudentDialog = false; deleteStudent(deleteStudentName)" ) 確認
