v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.my-3( height="100%" elevation="12" )
    v-card-title 課程學生列表
    v-select.ma-3( label="選擇課程" outlined hide-details :items="courses" item-text="name" item-value="name" v-model="course" )
    v-container( fluid )
      v-row( no-gutters )
        v-btn( color="info" @click="newCourseDialog = true" )
          v-icon mdi-plus
          | 新增課程
        v-spacer
        v-btn.ml-3( color="primary" @click="newStudentDialog = true" :disabled="course == ''" )
          v-icon mdi-file-excel-outline
          | 表單新增學生
        v-btn.ml-3( color="info" @click="newSingleStuDialog = true" )
          v-icon mdi-account-plus
          | 單獨新增學生
    v-divider.mt-0

    v-row.pa-3( no-gutters v-show="alert.value" )
      v-alert( v-model="alert.value" dark color="primary" width="100%" dismissible style="white-space: pre-line;" )
        | {{ alert.msg }}

    v-card-title
      | 學生資料總覽
      v-spacer
      v-text-field(
        v-model="search"
        append-icon="mdi-magnify"
        label="快速搜尋"
        single-line
        hide-details
      )
    v-data-table.mt-6(
      :headers="headers"
      :items="studentData"
      :search="search"
      :items-per-page="Number(100)"
      :footer-props="{ itemsPerPageOptions: [5, 10, 50, 100, -1] }"
    )
      template( v-slot:item.manage="{ item }" )
        v-tooltip( right color="#000000E6" )
          template( v-slot:activator="{ on }" )
            v-btn( color="info" v-on="on" small :href="`/stat/${item.info.username}`" rel="noopener noreferrer" target="_blank" )
              v-icon mdi-table-large
          span 顯示詳細資訊

  v-dialog( v-model="newCourseDialog" :width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" )
    v-card
      v-card-title.headline 新增課程
      v-card-text
        v-text-field( v-model="newCourseName" label="輸入課程名稱" :rules="[v => courseNameRule.test(v) || '不符合規則']" )
        p.text--primary 注意！課程名稱只能使用：A-Z、a-z、0-9、空白、底線、減號、點
      v-card-actions
        v-spacer
        v-btn.mr-3( color="danger" @click="newCourseDialog = false" dark text ) 取消
        v-btn( color="primary" @click="newCourseDialog = false; createCourse(newCourseName)" :disabled="newCourseName == '' || !courseNameRule.test(newCourseName)" ) 確認
  v-dialog( v-model="newStudentDialog" :width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" )
    v-card
      v-card-title.headline 上傳表單新增學生
      v-card-text
        v-file-input( v-model="newStudentFile" label="upload csv file" )
        p.text--primary .csv 需使用 utf8編碼，包含四個必填欄位，且檔案的第一列需包含標題：
        code.headline "username", "displayName", "password", "email"
        p.text--primary 第二列開始為欲加入的學生的帳號資料
        p.text--primary 若欲加入的學生已註冊過，"username" 「以外」的資訊可填可不填，以下為範例
        v-img( :src="img" )
      v-card-actions
        v-spacer
        v-btn.mr-3( color="danger" @click="newStudentDialog = false" dark ) 取消
        v-btn( color="primary" @click="newStudentDialog = false; createStudent(newStudentFile)" ) 確認

  v-dialog( v-model="newSingleStuDialog" :width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" )
    v-card
      v-card-title.headline 單獨新增學生
      v-card-text
        p.text--primary username 為必填，若學生尚未註冊，所有資料皆為必填
        v-text-field( v-model="newSingleStu.username" label="username" )
        v-text-field( v-model="newSingleStu.displayName" label="displayName" )
        v-text-field( v-model="newSingleStu.password" label="password" )
        v-text-field( v-model="newSingleStu.email" label="email" )
      v-card-actions
        v-spacer
        v-btn.mr-3( color="danger" @click="newSingleStuDialog = false" dark ) 取消
        v-btn( color="primary" @click="newSingleStuDialog = false; createSingleStu(newSingleStu)" :disabled="newSingleStu.username == ''" ) 確認

  v-dialog( v-model="deleteStudentDialog" :width="$vuetify.breakpoint.mdAndUp ? '30vw' : '55vw'" )
    v-card
      v-card-title.headline 真的要刪除嗎？
      v-card-title 此操作將無法復原。
      v-card-actions
        v-spacer
        v-btn.mr-3( color="primary" @click="deleteStudentDialog = false" dark ) 取消
        v-btn( color="error" @click="deleteStudentDialog = false; deleteStudent(deleteStudentName)" ) 確認
