@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

a {
  text-decoration-line: none;
}

// custom typography
.ctext-amount {
  font-family: 'Montserrat';
  font-size: 6rem;
  line-height: 6rem;
}
