v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.my-3( elevation="12" )
    v-card-title 管理題目
    v-card-subtitle 在此新增、編輯您的題目
    v-catd-actions
      v-btn.ma-3( color="primary" href="/admin/problem" ) 進入
  v-card.my-3( elevation="12" )
    v-card-title 管理課程
    v-card-subtitle 在此瀏覽課程、新增學生
    v-catd-actions
      v-btn.ma-3( color="primary" href="/admin/course" ) 進入