v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.my-3( height="100%" elevation="12" )
    v-card-title 題目列表
    v-container( fluid )
      v-row( no-gutters align="center" )
        v-col.pa-1( cols="12" md="3" )
          v-select.mx-1( label="選擇課程" outlined hide-details :items="courses" v-model="course" )
        v-col.pa-1( cols="12" md="3" )
          v-select.mx-1( label="選擇分類" outlined hide-details :items="tags" v-model="selectedTags" multiple )
        v-col.pa-1( cols="12" md="3" )
          v-text-field.mx-1( label="搜尋關鍵字" outlined hide-details v-model="title" )
        v-col.pa-1( cols="12" md="3" )
          v-btn( color="primary" @click="getProblems" small ) 送出
    v-divider.mt-0

    v-data-table.mt-6(
      :headers="headers"
      :items="problems"
      hide-default-footer
    )
      template( v-slot:item.pid="{ item }" )
        .subtitle-1 {{ item.pid }}
      template( v-slot:item.title="{ item }" )
        a.subtitle-1( :href="`/problem/${item.pid}`" ) {{ item.title }}
      template( v-slot:item.tags="{ item }" )
        v-chip.mr-1( v-for="tag in ['tag']" :key="tag" label small ) {{ tag }}
      template( v-slot:item.timestamp="{ item }" )
        .subtitle-1 {{ timeFormat(item.timestamp).substring(0,10) }}
      template( v-slot:item.author.displayedName="{ item }" )
        .subtitle-1 {{ item.author.displayedName }}
