v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-row( style="height: 100%; align-items: start; margin-top: 20%;" )
    v-img(
      :src="logo"
      :style="{ width: $vuetify.breakpoint.mdAndUp ? '30%' : '100%' }" 
      contain
    )
    iframe( 
      :width="$vuetify.breakpoint.mdAndUp ? '70%' : '100%'" 
      height="100%" 
      src="https://docs.google.com/document/d/e/2PACX-1vQCxMvFb0Tdd2jNZB7BuB2Z8StkADxSQa2TjM1Dr8w28rzJ4r0zpy9G-cPVWFnkOAB-lXtdlyB26HpX/pub?embedded=true"
      :style="{ border: 'none', paddingLeft: $vuetify.breakpoint.mdAndUp ? '10%' : '0%' }"
    )
