span.anchor {
	position: absolute; 
	top: 20px; 
	left: -40px; 
}

// span.menu {
// 	position: absolute; 
// 	top: 20px; 
// 	left: -60px; 
// }

.float-icon {
	visibility: hidden;
}

.anchor:hover .float-icon {
	visibility: visible;
}
