v-container.editor( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.mt-3( elevation="12" )
    v-card-subtitle
      v-icon( small ) mdi-clock
      | {{ problem.timestamp }}
      v-icon.ml-3( small ) mdi-account
      | {{ problem.author.displayedName }}
      v-icon.ml-3( small ) mdi-comment
      | [comment]
    v-card-title.display-1 {{ problem.pid }}
    v-card-subtitle.mt-3
      | 分類：
    v-card-subtitle.mt-3( v-for="tag in problem.tags" )
      v-chip( label small ) {{ tag }}
    v-divider
    v-card-text.text--primary {{ problem.description }}
    v-divider
    v-card-text.text--primary
      v-row.mb-3( no-gutters )
        h3.mr-6 資料
        v-menu( offset-y )
          template( v-slot:activator="{ on }" ) 
            v-btn.text-none( outlined v-on="on" small )
              | {{ browsing }}
              v-icon mdi-chevron-down
          v-list
            v-list-item( v-for="atta in attachments" :key="atta" @click="browsing = atta" )
              v-list-item-title {{ atta }}
        v-btn.ml-6( v-if="browsing!='請選擇'" color="info" small )
          v-icon mdi-file-download
          | 下載
      code show data......

  div#1F( style="padding: 30px 0;" )
  v-card.anchor( width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" elevation="12" )
    span.anchor
      a.anchor-link( href="#1F" style="text-decoration: none;" )
        v-icon( style="transform: rotate(0.125turn);" ) mdi-link-variant
    v-card-title 這個是留言的標題
      v-row( no-gutters )
      v-spacer
      div.subtitle-2 2020-03-27 12:35
    v-card-subtitle.text--primary 一樓
      v-icon mdi-account
      | {{ '莊博傑' }}
    v-card-text.pl-0.pb-0
      v-tabs( vertical )
        v-tab( v-for="item in lists" :key="item.title" )
          v-icon( left ) {{ item.icon }}
          | {{ item.title }}
        v-tab-item( v-for="example in examples" :key="example" )
          v-card( flat style="background: #e7e7e7" )
            v-card-text
              v-expand-transition
                div.text--primary( style="white-space: pre-line" ) {{ example }}
    v-card-actions
      v-row( no-gutters )
        v-btn.text-none( color="primary" text ) → Reply
        v-spacer
        v-btn.ml-3( icon )
          v-icon mdi-heart
        div.mt-1.mr-3 300

  div#2F( style="padding: 30px 0;" )
  v-card.anchor( width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" elevation="12" )
    span.anchor
      a.anchor-link( href="#2F" style="text-decoration: none;" )
        v-icon( style="transform: rotate(0.125turn);" ) mdi-link-variant
    v-card-title 這個是留言的標題
      v-row( no-gutters )
      v-spacer
      div.subtitle-2 2020-03-27 12:35
    v-card-subtitle.text--primary 二樓
      v-icon mdi-account
      | {{ '莊博傑' }}
    v-card-text.pl-0.pb-0
      v-tabs( vertical )
        v-tab( v-for="item in lists" :key="item.title" )
          v-icon( left ) {{ item.icon }}
          | {{ item.title }}
        v-tab-item( v-for="example in examples" :key="example" )
          v-card( flat style="background: #e7e7e7" )
            v-card-text
              v-expand-transition
                div.text--primary( style="white-space: pre-line" ) {{ example }}
    v-card-actions
      v-row( no-gutters )
        v-btn.text-none( color="primary" text ) → Reply
        v-spacer
        v-btn.ml-3( icon )
          v-icon mdi-heart
        div.mt-1.mr-3 300

  v-card.my-3.ml-12( width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" elevation="2" )
    v-card-title.subtitle-1 
      v-icon mdi-account
      | {{ '盧昭華' }}
      v-row( no-gutters )
      v-spacer
      div.subtitle-2 2020-03-27 12:35
    v-card-text
      v-card( flat style="background: #e7e7e7" )
        v-card-text
          div.text--primary( style="white-space: pre-line" ) {{ examples[0] }}
