span.anchor {
	position: absolute; 
	top: 20px; 
	left: -40px; 
}

.float-icon {
	visibility: hidden;
}

.anchor:hover .float-icon {
	visibility: visible;
}

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

.codeblock {
  pre {
    // padding: 0.7rem 1rem;
    border-radius: 5px;
    background: #e7e7e7;
    overflow-x: auto;

    code {
      display: block;
      // padding: 0 0.4rem;
      background: rgba($color-black, 0);
      color: rgba($color-black, 0.9);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  code::before {
    content: "" !important,
  }
}
