v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.my-3( height="100%" elevation="12" )
    v-card-title 管理您的題目
    v-container( fluid )
      v-row( no-gutters align="center" )
        v-col.pa-1( cols="12" md="9" )
          v-select.mx-1( label="選擇課程" outlined hide-details :items="courses" v-model="course" )
        v-col.pa-1( cols="12" md="3" )
          v-btn( color="primary" :href="`/admin/problem/new`" ) 
            v-icon mdi-plus
            | 新增題目
    v-divider.mt-0
    v-simple-table.px-4
      thead
        tr
          th.font-weight-bold.subtitle-1.text--primary 題號
          th.font-weight-bold.subtitle-1.text--primary 標題
          th.font-weight-bold.subtitle-1.text--primary.hidden-sm-and-down 作者
          th.font-weight-bold.subtitle-1.text--primary 管理
      tbody
        tr( v-for="(problem, idx) in problems" :key="idx" v-if="profile.role != 2 || problem.author.username == profile.username" )
          td.subtitle-1 {{ problem.pid }}
          td.subtitle-1.hidden-sm-and-down {{ problem.title }}
          td.subtitle-1 {{ problem.author.displayedName }}
          td.subtitle-1
            v-tooltip( bottom color="#000000E6" )
              template( v-if="problem.author.username == profile.username || profile.role == 0" v-slot:activator="{ on }" )
                v-btn.mr-1( color="info" v-on="on" :href="`/admin/problem/${problem.pid}`" )
                  v-icon mdi-pencil
              span 修改題目
            v-tooltip( v-if="profile.role != 2" bottom color="#000000E6")
              template( v-slot:activator="{ on }" )
                v-btn.mr-1( color="primary" v-on="on" @click="clonePid = problem.pid; cloneProblemDialog = true" :disabled="course == unlimit" )
                  v-icon mdi-content-copy
              span 複製出一個新題目
            v-tooltip( bottom color="#000000E6" )
              template( v-slot:activator="{ on }" )
                v-btn( color="error" v-on="on" @click="deleting = idx; deleteProblemDialog = true" )
                  v-icon mdi-trash-can
              span 刪除題目
        tr( v-if="problems.length===0" )
          td( colspan="5" ) No data available.
  v-dialog( v-model="deleteProblemDialog" :width="$vuetify.breakpoint.mdAndUp ? '30vw' : '55vw'" )
    v-card
      v-card-title.headline 真的要刪除嗎？
      v-card-title 此操作將無法復原。
      v-card-actions
        v-spacer
        v-btn.mr-3( color="primary" @click="deleteProblemDialog = false" dark ) 取消
        v-btn( color="error" @click="deleteProblem(problems[deleting].pid); deleteProblemDialog = false" ) 確認
  v-dialog( v-model="cloneProblemDialog" :width="$vuetify.breakpoint.mdAndUp ? '70vw' : '95vw'" )
    v-card
      v-card-title.headline 新增課程
      v-card-text
        v-select( v-model="cloneToCourse" label="選擇複製到哪一個課程" :items="courses" )
      v-card-actions
        v-spacer
        v-btn.mr-3( color="danger" @click="cloneProblemDialog = false" dark text ) 取消
        v-btn( color="primary" @click="cloneProblemDialog = false; cloneProblem(clonePid, cloneToCourse)" :disabled="cloneToCourse === ''" ) 確認
